
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./head %>
</head>
<body class="container">

  <form action="/update-workshop" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" id="name"  value="<%= workshop.name %>" required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" name="description" class="form-control" id="description" value="<%= workshop.description %>" required>
    </div>
    <input hidden name="workshopId" value="<%=id%>"/>
    <button type="submit" class="btn btn-warning">Update</button>
    <a type="button" class="btn btn-secondary" href="/">Cancel</a>
  </form>

  <footer>
    <% include ./footer %>
  </footer>

</body>
</html>
